@keyframes loader {
    0% {
        transform: scale(1, 1);
    }
    75% {
        transform: scale(0, 1);
    }
    100% {
        transform: scale(0, 1);
    }
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a,
a:link,
a:hover,
a:active,
a:focus,
a:visited {
    text-decoration: none;
    color: inherit;
}

body {
    font-family: "Lato", "Helvetica", "Arial", sans-serif;
    line-height: 1.4em;
    background-color: #FBF8FB !important;
    overflow: overlay;
    color: #303D4E;
}

body::-webkit-scrollbar {
    border-radius: 3px;
    width: 6px;
}

body::-webkit-scrollbar-thumb {
    border-radius: 3px;
    width: 6px;
    background-color: #AE6DFE;
}

#measure {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 1px;
    opacity: 0;
    pointer-events: none;
}

#container {
    display: grid;
    grid-template-rows: minmax(min-content, max-content) minmax(min-content, max-content) auto minmax(min-content, max-content);
    min-height: 100vh;
    max-width: 1120px;
    margin: 0 auto;
}

#container:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 37vw;
    background: linear-gradient(45deg, #FE579D 0%, #FFAA68 100%);
    z-index: 1;
}

.language {
    position: absolute;
    top: 16px;
    right: 24px;
    z-index: 2;
}

a.language_link {
    text-decoration: none;
    margin-left: 8px;
    font-size: 20px;
    cursor: pointer;
    color: #fff;
}

a.language_link:hover {
    color: #8C3BFE;
}

a.language_link.selected {
    pointer-events: none;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.16), 0 0 1px rgba(0, 0, 0, 0.08);
}

.header {
    height: 60vw;
    padding: 5vw 50vw 0;
    box-sizing: border-box;
    z-index: 9;
}

.header:focus {
    outline: 0;
}

.logo {
    height: 50vw;
    width: 50vw;
    max-width: 200px;
    max-height: 200px;
    position: relative;
    box-sizing: border-box;
    padding: 2px;
    background: #fff;
    border-radius: 100%;
    border: 2px solid #AE6DFE;
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.js .logo-content:before {
    background-image: none;
}

.logo:before,
.logo:after {
    content: "";
    top: -2px;
    height: 50vw;
    max-height: 200px;
    width: 25vw;
    max-width: 100px;
    position: absolute;
    display: block;
    box-sizing: border-box;
}

.logo:before {
    left: -2px;
    border: 2px solid #AE6DFE;
    border-top-left-radius: 100% 50%;
    border-bottom-left-radius: 100% 50%;
    border-right: 0;
    transform: rotate(20deg);
    transform-origin: center right;
}

.logo:after {
    right: -2px;
    border: 2px solid #FFAC34;
    border-top-right-radius: 100% 50%;
    border-bottom-right-radius: 100% 50%;
    border-left: 0;
    transform: rotate(20deg);
    transform-origin: center left;
}

.logo:focus {
    outline: 0;
}

.logo-content {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(45deg, #FE579D -100%, #FFAA68 200%);
    z-index: 99;
}

.logo-content:before {
    content: "";
    position: absolute;
    border-radius: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-repeat: no-repeat;
    background-size: 100%;
}

.intro {
    z-index: 1;
}

.intro_title {
    width: 100%;
    text-align: center;
}

.intro_mainTitle {
    font-size: 26px;
    line-height: 1.2em;
    text-transform: uppercase;
    width: 100%;
}

.intro_subTitle {
    font-size: 14px;
    color: #8C3BFE;
    text-transform: uppercase;
}

.intro_subTitle span>span>span {
    display: inline-block;
    max-width: 85px;
}

.intro_subTitle span>span>span::first-letter {
    font-size: 1.6em;
}

.intro_data {
    margin-top: 4px;
}

.intro p {
    text-align: center;
}

.intro_sns {
    display: flex;
    justify-content: center;
}

.intro_sns svg {
    margin-top: 10px;
    height: 2em;
    width: 2em;
}

.intro_sns_link:not(:last-child) {
    margin-right: 6px;
}

a.intro_sns_link:hover {
    color: #8C3BFE;
}

.main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
}

.main h1 {
    width: 100%;
    text-align: center;
    font-size: 18px;
    margin-bottom: 10px;
}

.frameworks {
    display: flex;
    justify-content: space-around;
    width: 100%;
    max-width: 600px;
    flex-wrap: wrap;
    height: 100%;
}

.frameworks h2 {
    font-size: 18px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    max-width: 240px;
}

.framework_button {
    position: relative;
    height: 48px;
    background: linear-gradient(45deg, #8C3BFE 0%, #D587FF 100%);
    color: #fff;
    border: 1px solid #fff;
    padding: 0 36px 0 48px;
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
    border-radius: 24px;
    box-sizing: content-box;
    cursor: pointer;
    margin: 0;
    display: inline-flex;
    outline: none;
    position: relative;
    user-select: none;
    align-items: center;
    vertical-align: middle;
    justify-content: center;
    -moz-appearance: none;
    text-decoration: none;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
    width: 100%;
}

.framework_button svg {
    position: absolute;
    top: 8px;
    left: 8px;
    height: 32px;
    width: 32px;
}

.framework_button span {
    font-size: 16px;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.16), 0 0 1px rgba(0, 0, 0, 0.08);
}

.framework_button:active {
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, .2), 0 8px 10px 1px rgba(0, 0, 0, .14), 0 3px 14px 2px rgba(0, 0, 0, .12);
}

.framework_button:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 18px;
    box-sizing: border-box;
    transition: opacity 200ms;
    background-color: #fff;
    opacity: 0;
}

.framework_button:active:after {
    opacity: 0.3
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #303D4E;
    font-size: 14px;
    height: 44px;
    transition: height 500ms 500ms;
}

#loader {
    position: fixed;
    z-index: 9;
    background: rgba(255, 255, 255, 0.2);
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: opacity 200ms;
}

#loader.active {
    opacity: 1;
    pointer-events: all;
}

#loaderSVG {
    stroke: #FF9C73;
}

.no-js .logo-content:before,
.js.no-webp .logo-content:before {
    background-image: url('/img/logo.png');
}

.js.webp .logo-content:before {
    background-image: url('/img/logo.webp');
}

.js.jpeg2000.no-webp .logo-content:before {
    background-image: url('/img/logo.jp2');
}

.js.jpegxr.no-webp.no-jpeg2000 .logo-content:before {
    background-image: url('/img/logo.jxr');
}

@media only screen and (max-width: 414px) {
    .language {
        top: 4vw;
        right: 6vw;
    }
    .language_link {
        margin-left: 2vw;
        font-size: 5vw;
    }
    .logoContainer {
        width: 0;
    }
    .logo {
        transform: translateX(-50%);
    }
    .intro_title {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
        height: 56px;
        text-align: left;
    }
    .intro_title h1,
    .intro_title h2 {
        margin-left: 50%;
        margin-right: 50%;
    }
    .intro_title h1>span,
    .intro_title h2>span {
        width: 0;
    }
    .intro_title h1>span>span,
    .intro_title h2>span>span {
        width: 100%;
        white-space: nowrap;
    }
    .intro_data {
        height: 91px;
    }
    .frameworks {
        align-items: center;
    }
    .framework_button:hover:after,
    .framework_button:focus:after {
        opacity: 0.3
    }
}

@media only screen and (min-width: 415px) {
    #container:before {
        height: 120px;
    }
    .header {
        height: 240px;
        padding: 20px 20px 0;
    }
    .intro_data {
        margin-top: 8px;
    }
    .frameworks {
        align-content: flex-start;
    }
    .frameworks h2 {
        padding: 30px;
    }
}

@media only screen and (min-width: 560px) {
    #measure {
        display: none;
    }
    #loaderSVG {
        stroke: url(#loaderGradient);
    }
    #container {
        grid-template-columns: 240px auto;
        grid-template-rows: minmax(min-content, max-content) auto minmax(min-content, max-content);
    }
    #container:before {
        z-index: -1;
    }
    .language_link {
        margin-left: 6px;
        font-size: 16px;
    }
    .intro {
        display: grid;
        padding: 20px;
        grid-template-rows: 100px auto;
    }
    .intro_title {
        display: flex;
        flex-wrap: wrap;
        align-content: center;
    }
    .intro_mainTitle,
    .intro_subTitle {
        color: #fff;
        text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.16), 0 0 1px rgba(0, 0, 0, 0.08);
    }
    .intro_title>*,
    .intro_data>p {
        width: 100%;
        text-align: left;
    }
    .intro_data {
        margin-top: 0;
        display: flex;
        flex-wrap: wrap;
        align-content: flex-end;
    }
    .intro_sns {
        justify-content: flex-start;
    }
    .main {
        grid-column: 1 / span 2;
    }
    footer {
        height: 30px;
        grid-column: 1 / span 2;
    }
}

@media only screen and (min-width: 1121px) {
    .language {
        right: calc(50vw - 536px);
    }
    .complete {
        margin: 0 5px;
    }
}